Pods/

.idea/
out/
.idea_modules/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
fastlane/FastlaneRunner

.DS_Store
.AppleDouble
.LSOverride

Icon
xcuserdata/
DerivedData/


*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

Carthage/Build/

iOSInjectionProject/
